* {
    box-sizing: border-box;
}

.websiteC {
    width: 100%;
    margin: 0 auto;
}

html, body {
    background-color: white;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

header {
    background-color: #222;
}

.listHome {
    background-image: url("/final-project/images/logo.png");
    background-repeat: no-repeat;
    background-color: #c78c06;
    padding-bottom: 20px;
}

.listHome ul {
    padding-top: 160px;
    text-align: center;
}

.listHome ul li a:link,
.listHome ul li a:visited,
.listHome ul li a:hover,
.listHome ul li a:active {
    text-decoration: none;
    color: #222;
}

.nav a:hover,
.nav a:focus {
    background-color: #222;
    color: #c78c06;
    width: 100%;
}

.nav a {
    display: flex;
    color: #c78c06;
    text-align: center;
    text-decoration: none;
    flex-direction: column;
    padding: 1rem;
}

ul {
    list-style: none;
}

.nav-content {
    display: flex;
    justify-content: center;
}

.buttonSearch {
    color: #c78c06;
    background-color: #222;
    border: 1.5px solid #c78c06;
    padding: 4px 5px;
}

.searchinput {
    padding: 1.5rem;
}

.input {
    width: 90%;
    height: 16px;
}

#home {
    background-image: url("/final-project/images/main-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#home h1, #home p, #home .buttonConnect {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

/* Header and button styling */
#home h1 {
    color: white;
    font-size: 3.75rem;
    font-weight: bold;
    padding: 20px 30px;
}

.buttonConnect button {
    background-color: #c78c06;
    color: #222;
    border: none;
    padding: 25px 35px;
    font-size: 1.5rem;
    margin-top: 20px;
}

.buttonConnect:hover button {
    background-color: #222;
    color: #c78c06;
}

/* About Section */
#about {
    display: flex;
    background-color: #ffe6ac;
    flex-direction: column;
    padding: 15px;
}

#about h2, #about p {
    padding: 10px 10px 10px 0;
}

#about p {
    padding-bottom: 0;
}

.image1 {
    width: 100%;
}

/* Services Section */
#services {
    margin: 0 auto;
    width: 98%;
}

#services h2 {
    padding: 30px 0 20px 0;
}

/* Digital Section */
.digital {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px auto;
    width: 90%;
}

.digitalcontent {
    background-color: #ffe6ac;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

.digital button {
    background-color: #000000;
    color: aliceblue;
    border: none;
    padding: 25px 35px;
    font-size: 1.5rem;
    margin-top: 20px;
}

/* Other Sections */
.marketing, .video, .web, .print {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px auto;
    width: 90%;
}

/* Buttons */
.marketing button, .videocontent button, .webcontent button, .printcontent button {
    background-color: #000000;
    color: aliceblue;
    border: none;
    padding: 25px 35px;
    font-size: 1.5rem;
    margin-top: 20px;
}

/* Contact Us Section */
form {
    border: 1px solid grey;
    padding: 4px;
    margin: 5px 0;
}

form input[type="text"], form input[type="email"], form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
    font-family: inherit;
}

/* Footer Section */
footer.footer {
    background-color: #000;
    color: #c78c06;
    text-align: left;
    padding: 20px;
    margin-top: 30px;
    font-size: 0.9em;
    line-height: 1.6;
}

footer.footer a {
    color: #c78c06;
    text-decoration: none;
    font-weight: bold;
}

footer.footer a:hover {
    text-decoration: underline;
}
